@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
textarea,
select {
  font: inherit;
}

/* *:focus {
  outline: 2px solid #2a5d84; 
  outline-offset: 2px;
} */
.max-container {
  @apply max-w-[1280px] mx-auto;
}

/* Header Text - For titles and headers */
.text-header {
  @apply text-2xl md:text-[1.5rem] text-center font-extrabold md:font-bold;
}

/* Subheading Text - For subtitles or smaller headings */
.text-subheader {
  @apply text-xl md:text-lg font-semibold;
}

/* Body Text - For regular paragraphs and content */
.text-body {
  @apply text-base md:text-lg text-gray-800 leading-relaxed;
}

/* Small Text - For smaller text like footnotes or captions */
.text-small {
  @apply text-sm text-gray-500;
}

/* Link Text - For links, buttons, or clickable items */
.text-link {
  @apply text-blue-500 hover:text-blue-600 focus:outline-none;
}

/* Error Text - For validation errors, warnings, etc. */
.text-error {
  @apply text-red-600 font-medium;
}

/* Success Text - For success or confirmation messages */
.text-success {
  @apply text-green-600 font-medium;
}

/* Muted Text - For less prominent or secondary information */
.text-muted {
  @apply text-gray-500 font-light;
}

/* Bold Text - For bold text */
.text-bold {
  @apply font-bold;
}

/* Italic Text - For italicized text */
.text-italic {
  @apply italic;
}

/* Custom Scrollbar Styles for react-select */
.react-select__menu {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #4f46e5 #f1f1f1; /* Thumb color and track color for Firefox */
}

.react-select__menu::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.react-select__menu::-webkit-scrollbar-thumb {
  background-color: #4f46e5; /* Thumb color */
  border-radius: 4px; /* Rounded corners */
}

.react-select__menu::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
  border-radius: 4px; /* Rounded corners */
}
